---
import DocsLayout from '../../layouts/DocsLayout.astro';
import { extractHookName } from '../../utils/hooks';
import jsDoc2JSON from '../../utils/jsdoc2json.ts';

export async function getStaticPaths() {
  const hooks: Record<string, string> = import.meta.glob('/src/hooks/*.ts', {query: '?raw', eager: true, import: 'default'});
  return Object.keys(hooks).map((hook) => {
    const hookName = extractHookName(hook);
    const doc = jsDoc2JSON(hooks[hook]);
    return {
      params: { hook: hookName },
      props: { hook: hooks[hook], hookName, doc },
    }
  });

}

const {hookName, hook, doc } = Astro.props;
---
<DocsLayout title={hookName} selectedPage={hookName}>
  <h1>{hookName}</h1>
  <p>{doc.description}</p>
  <pre>
    <code>
      {hook}
    </code>
  </pre>
</DocsLayout>

