---
import MobileNavbar from "../components/nav/MobileNavbar.astro";
import Navbar from "../components/nav/Navbar.astro";
import { getHooksNames } from "../utils/hooks";

interface Props {
  title: string;
  selectedPage: string;
}

const hookNames = getHooksNames();
const { title, selectedPage } = Astro.props;
---
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{title} - React Hooked</title>
  </head>
  <body>
    <div class="">
      <div class="sticky top-0 z-10 border-b border-zinc-950/10 bg-white px-6 py-5 sm:px-8 lg:z-10 lg:flex lg:h-16 lg:items-center lg:py-0">
        <div class="mx-auto flex w-full max-w-xl items-center justify-between lg:max-w-7xl">
          <div class="flex items-center gap-2 sm:gap-4">
            <a aria-label="Home" href="/" class="font-bold">React Hooked 🪝</a>
          </div>
          <div class="flex items-center gap-4 sm:gap-8">
            <a class="text-sm/6 font-medium text-zinc-700 hover:text-zinc-950" href="/docs">Docs</a>
          </div>
        </div>
        <MobileNavbar items={hookNames} selectedPage={selectedPage} />
      </div>
    <div class="px-6 lg:px-8">    
      <div class="mx-auto max-w-xl lg:max-w-7xl">
        <div class="mx-auto flex max-w-xl items-start gap-x-12 lg:max-w-7xl">
            <Navbar items={hookNames} selectedPage={selectedPage} />
          <main class="min-w-0 flex-1 gap-x-12 pb-16 pt-8 lg:pt-12">
            <slot /> 
          </main>
        </div>
      </div>
    <article>
    </article>
</div>
</div>
    <!-- <Footer /> -->
  </body>
</html>
